# Configuración de la base de datos MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=alryada_university_academics

# Ya existente para MongoDB
# MONGODB_URI=mongodb://username:password@localhost:27017/database
